<html>
    <head>
        <title>Staff Hours</title>
    </head>
    <body>
        <div>
                <h1>This is where you will enter your staff hours. <a href ="/">Click Here</a></h1>
                <h2>It will make it simpler for us to complete</h2>
        </div>

        <div>
            <p>Entered: 02.10.18, 12:15</p>
            <h2><a href ="">Week 7</a></h2>
            <p>Some random shit</p>            
        </div>

        <div>
                <p>Entered: 02.10.18, 12:15</p>
                <h2><a href ="">Week 7</a></h2>
                <p>Some random shit</p> 
        </div>
    </body>
</html>